
:root {
    --main-color: #212121;
    --accent-color: #2196F3;
    --hero-footer-background-color: #2F303A;
    --paragraph-color: #757575;
    --header-logo-color: #000000;
    --footer-logo-color: #FFFFFF;
    --location-color: #FFFFFF;
    --hero-title-color: #FFFFFF;
    --main-background-color: #FFFFFF;
    --main-button-color: #FFFFFF;
    --filter-button-color: #F5F4FA;
    --team-color: #F5F4FA;
    --team-card-background: #FFFFFF;
    --footer-contacts: rgba(255, 255, 255, 0.6); 
    --border-color: #ECECEC;
    --icons-main-color: #AFB1B8;
    --icons-secondary-color: #FFFFFF;
    --icons-hover-color: #2196F3;
    --find-us-color: #FFFFFF;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --benefit-item-background: #F5F4FA;
    --icon-background: rgba(255, 255, 255, 0.1);
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --animation-duration: 250ms;
}

body {
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
    
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: color var(--animation-duration) var(--animation-timing-function);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* блок хедер */

.header {
    border-bottom: 1px solid var(--border-color);
}

.container__header {
    display: flex;
    align-items: center;
}

.logo__header {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: var(--header-logo-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav__link.nav__link--current {
    color: var(--accent-color);
    position: relative;
}

.nav__link--current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    display: block;
}

/* блок навигации*/

.nav {
    margin-left: 93px;
    font-weight: 500;
    font-size: 14px;
}

.nav__items {
    display: flex;
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: var(--main-color);
    transition: color var(--animation-duration) var(--animation-timing-function);
}

.nav__link:hover,
.nav__link:focus {
    color: var(--accent-color);
}

.nav li:not(:last-child) {
    margin-right: 50px;
}


/* блок контактов */

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    text-decoration: none;
    transition: color var(--animation-duration) var(--animation-timing-function);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--accent-color);
}

.contacts__mail-item {
    width: 16px;
    height: 12px;
    fill: #757575;
    margin-right: 10px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

.contacts__tel-item {
    width: 10px;
    height: 16px;
    fill: #757575;
    margin-right: 10px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

.contacts__link:hover .contacts__tel-item,
.contacts__link:focus .contacts__tel-item,
.contacts__link:hover .contacts__mail-item,
.contacts__link:focus .contacts__mail-item {
    fill: var(--icons-hover-color);
}

.contacts :not(:last-child) {
    margin-right: 50px;
}

/* блок контактов*/

/* блок героя */

.container__hero {
    text-align: center;
    width: 696px;
}

.hero {
    padding: 200px 0; 
    background-image: 
        linear-gradient(to right, var(--hero-gradient), var(--hero-gradient)),
        url(../image/heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
    background-color: var(--hero-footer-background-color);
   
}



.hero-title {
    margin-bottom: 26px;
    text-align: center;
    color: var(--hero-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main-button {
    background-color: var(--accent-color);
    color: var(--main-button-color);
    border: none;
    cursor: pointer;
    height: 50px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 216px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
}

/* блок переваг */

.benefits {
    padding: 94px 0;
}

.benefits__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.benefits__items{
    display: flex;
    gap: 30px;
}

.benefit{
    flex-basis: calc((100% - 3 * 30px)/4);
    width: 270px;
}

.benefit__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--benefit-item-background);
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
}

.benefit__icon {
    width: 70px;
    height: 70px;
}

.benefit__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.benefit__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}





/* блок пропозицій */

.services {
    padding-bottom: 94px;
}

.services__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

.services__items {
    display: flex;
    gap: 30px;
}

.service {
    position: relative;
    overflow: hidden;
}

.service__description-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    transform: translateY(100%);
    background-color: rgba(47, 48, 58, 0.8);
    transition: transform 250ms ease;
}

.service__description{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.service:hover .service__description-block {
    transform: translateY(0%);

}

/* блок команди */

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-color);
}



.team__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

.team-items {
    display: flex;
    gap: 30px;
}

.professional {
    width: 270px;
    background-color: var(--team-card-background);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--team-card-background);
    flex-basis: calc((100% - 3 * 30px)/4);
}

.professional__description-block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.professional__description {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    margin-bottom: 16px;
}

.professional__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 10px;
}

.social-items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
}


.social-link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: background-color var(--animation-duration) var(--animation-timing-function);
}

.social-link__container:hover .social-link__icon,
.social-link__container:focus .social-link__icon {
    fill: var(--icons-secondary-color);
}

.social-link__container:hover,
.social-link__container:focus {
    background-color: var(--icons-hover-color);
}

.social-link__icon {
    width: 20px;
    height: 20px;
    fill: var(--icons-main-color);
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

/* блок клієнтів*/

.customers {
    padding-top: 94px;
    padding-bottom: 94px;
}

.customers__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--main-color);
    margin-bottom: 50px;
}

.customers-items {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}

.customer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-main-color);
    border-radius: 4px;
    transition: border-color var(--animation-duration) var(--animation-timing-function);
}

.customer__icon {
    fill: var(--icons-main-color);
    width: 106px;
    height: 60px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

.customer__container:hover,
.customer__container:focus {
    border-color: var(--icons-hover-color);
}

.customer__container:hover .customer__icon,
.customer__container:focus .customer__icon {
    fill: var(--icons-hover-color);
}



/* портфоліо */

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.filter {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
    gap: 8px;
}

.filter__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
    background: var(--filter-button-color);
    border-radius: 4px;
    border: none;
    transition: background-color var(--animation-duration) var(--animation-timing-function), box-shadow 250ms var(--animation-timing-function), color 250ms var(--animation-timing-function);
}

.filter__button:hover,
.filter__button:focus {
    background-color: var(--accent-color);
    color: var(--main-button-color);
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__button--current {
    background-color: var(--accent-color);
    color: var(--main-button-color);
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-services {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-services__card {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}

.service-card {
    flex-basis: calc((100% - 2 * 30px)/3);
    transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}
.service-card__link {
    text-decoration: none;
    display: block;
    transition: box-shadow var(--animation-duration) var(--animation-timing-function);
}

.service-card__container {
    position: relative;
    overflow: hidden;
}

.service-card__description-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform var(--animation-duration) var(--animation-timing-function);
}

.service-card__description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.service-card__meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.service-card__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--main-color);
}


.service-card__subtitle {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

.service-card:focus,
.service-card:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.service-card:focus .service-card__description-container,
.service-card:hover .service-card__description-container {
    transform: translateY(-100%);
}

/*блок футер*/



/* блок адреса футер */

.address-items {
    margin-top: 20px;
}

.address {
    font-style: normal;
}

.address-items__location {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--location-color);
}


.address-items__mail-link,
.address-items__tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--footer-contacts);
}

.address-items__mail:hover .address-items__mail-link,
.address-items__tel:hover .address-items__tel-link {
    color: var(--accent-color);
}

address .list :not(:last-child) {
    margin-bottom: 9px;
}




/* блок приєднуйтесь футер */

.find-us__title {
    color: var(--find-us-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.social-link_icon__find-us {
    width: 20px;
    height: 20px;
    fill: var(--icons-secondary-color);
}

.social-items__find-us {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-link__find-us {
    width: 44px;
    height: 44px;
}

.social-link__container__find-us {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--icon-background);
    transition: background-color 250ms var(--animation-timing-function);
}

.social-link__container__find-us:hover,
.social-link__container__find-us:focus {
    background-color: var(--icons-hover-color);
}


/* блок підпишіться футер*/

.follow-us_title {
    color: var(--find-us-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.form__follow-us {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    align-items: baseline;
}

.form__input__follow-us {
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    margin-top: 20px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: #FFFFFF;
    margin-right: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form__input__follow-us::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.follow-button {
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.follow-button-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}



/* модалка */

.backdrop {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity var(--animation-duration) linear;
}

.modal {
    width: 528px;
    min-height: 581px;
    background-color: var(--main-background-color);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform var(--animation-duration) ease, opacity 250ms ease;
    border-radius: 4px;
    padding: 40px;
    }

.close-button__modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-button-color);
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    cursor: pointer;
}

.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: visible;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, 100%)
}

.close-button__icon {
    fill: #000000;
    width: 11px;
    height: 11px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
}

.close-button__modal:hover .close-button__icon {
    fill: var(--accent-color);
}

.modal-form__title {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-inputs {
    margin-bottom: 20px;
    width: 448px;
}

.modal-inputs > :not(:last-child) .modal-form__input {
    margin-bottom: 10px;
    padding-left: 42px;
}

.modal-form__label {
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;
}

.modal-form__input {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    transition: border var(--animation-duration) var(--animation-timing-function);
    font-size: 12px;
    color: var(--main-color);
}

.modal-inputs__input{
    position: relative;
}

.modal-inputs__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: var(--main-color);
    transition: fill var(--animation-duration) var(--animation-timing-function);
    
}

.modal-form__input:focus {
    border: 1px solid var(--accent-color);
    /* outline: none; */
}

.modal-form__input:focus + .modal-inputs__icon {
    fill: var(--accent-color);
}

.modal-form__input__comment-container {
    width: 100%;
    resize: none;
    height: 120px;
}

.modal-form__input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
}

.checkbox-container__check {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-container {
    display: flex;
    gap: 8px;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}


.checkbox-container__check:checked + .checkbox-container__icon {
    background-image: url(../image/icon-check.svg);
    background-size: contain;
    border: none;
}

.checkbox-container__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    background-image: none;
}

.checkbox-container__label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.submit-button {
    min-width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--main-button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.checkbox-container__conditions {
    color: var(--accent-color);
}


