.benefits {
    padding: 60px 0;
    margin-left: auto;
    margin-right: auto;
    // width: 480px;

    // @media screen and (min-width: 768px) {
    //     width: 768px;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 1200px;
    //     padding: 94px 0;
    // }
}

.benefits__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $main-color;
}

.benefits__items {
    @media screen and (min-width: 768px) {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1600px) {
        display: flex;
        gap: 30px;
        flex-wrap: nowrap;
    }

}

.benefit {

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    

    @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) / 4);
    }
}

.benefit__item {

    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: $benefit-item-background;
    border-radius: 4px;
    margin-bottom: 30px;
    text-align: center;
}

.benefit__icon {
    width: 70px;
    height: 70px;
}

.benefit__title {
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
            text-align: center;
        }
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-color;
}

.benefit__paragraph {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $paragraph-color;
}