.container__hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:
        linear-gradient(to right, $hero-gradient, $hero-gradient),
        url(../image/heroimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width: 480px;
    max-width: 1600px;

    
    margin: 0 auto;
}

// .hero {
//     padding: 200px 0;
//     background-image:
//         linear-gradient(to right, $hero-gradient, $hero-gradient),
//         url(../image/heroimage.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     max-width: 1600px;
//     margin: 0 auto;
// }

.hero-title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (min-width: 480px) {
        max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.06em;
        max-width: 696px;
    }
        
    }


.main-button {
        background-color: $accent-color;
        color: $main-button-color;
        border: none;
        cursor: pointer;
        height: 50px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        min-width: 216px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        border-radius: 4px;
        
}

// .hero-title {
//     margin-bottom: 26px;
//     text-align: center;
//     color: $hero-title-color;
//     font-weight: 900;
//     font-size: 44px;
//     line-height: 1.45;
//     letter-spacing: 0.06em;
//     text-transform: uppercase;
// }

// .main-button {
//     background-color: $accent-color;
//     color: $main-button-color;
//     border: none;
//     cursor: pointer;
//     height: 50px;
//     padding-left: 32px;
//     padding-right: 32px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     min-width: 216px;
//     font-family: inherit;
//     font-weight: 700;
//     font-size: 16px;
//     align-items: center;
//     text-align: center;
//     letter-spacing: 0.06em;
//     border-radius: 4px;
// }