.container--hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 204px;
        padding-right: 204px;
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

        
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 118px;
    padding-bottom: 118px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // min-width: 480px;
    max-width: 1600px;
    margin: 0 auto;
    // height: 400px;
    background-image:
            linear-gradient(to right, $hero-gradient, $hero-gradient),
            url(../image/heroimagemobile.jpg);

    @media screen and (min-width: 768px) {
        background-image:
            linear-gradient(to right, $hero-gradient, $hero-gradient),
            url(../image/heroimagetablet.jpg);
        background-size: cover;
    }
    

    @media screen and (min-width: 1200px) {
        background-image:
            linear-gradient(to right, $hero-gradient, $hero-gradient),
            url(../image/heroimage.jpg);
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, $hero-gradient, $hero-gradient), 
        url(../image/heroimage@2x.jpg);

        @media screen and (min-width: 768px){
        background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
            url(../image/heroimage-tablet@2x.jpg);
    }   
        @media screen and (min-width: 1200px){
        background-image: linear-gradient(to right, $hero-gradient, $hero-gradient),
            url(../image/heroimage-desktop@2x.jpg);
    }

}

}

.hero-title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;


    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.45;
        letter-spacing: 0.06em;
        // max-width: 696px;
    }

}


.main-button {
    background-color: $accent-color;
    color: $main-button-color;
    border: none;
    cursor: pointer;
    height: 50px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        padding-left: 32px;
        padding-right: 32px;
        
    }
}