
.team {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $team-color;
    width: 480px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1600px) {
        width: 1600px;
    }
    
}

.team-items {
    @media screen and (min-width: 768px) {
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
        }

    @media screen and (min-width: 1600px) {
        display: flex;
        gap: 30px;

    }

    
}

.team__title {
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: 1600px) {
        font-size: 36px;
        line-height: 1.16;
    }

    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 30px;
}

.professional {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 30px) / 2);
    }
    @media screen and (min-width: 1600px) {
        width: calc((100% - 3 * 30px) / 4);
    }
    background-color: $team-card-background;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    // flex-basis: calc((100% - 3 * 30px)/4);
}

.professional-photo{
    width: 100%;
}

.professional__description-block {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

.professional__description {
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: $paragraph-color;
    margin-bottom: 16px;
}

.professional__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 10px;
}

.social-items {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
}

.social-link {
    width: 44px;
    height: 44px;
}

.social-link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: background-color $animation-duration $animation-timing-function;

    &:hover,
    &:focus {
        background-color: $icons-hover-color;
    }
}

.social-link__icon {
    fill: $icons-main-color;
    width: 20px;
    height: 20px;
    transition: fill $animation-duration $animation-timing-function;

    .social-link__container:hover &,
    .social-link__container:focus & {
        fill: $icons-secondary-color;
    }
}

// .team {
//     padding-top: 94px;
//     padding-bottom: 94px;
//     background-color: $team-color;
// }

// .team__title {
//     text-align: center;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//     letter-spacing: 0.03em;
//     color: $main-color;
//     margin-bottom: 50px;
// }

// .team-items {
//     display: flex;
//     gap: 30px;
// }

// .professional {
//     width: 270px;
//     background-color: $team-card-background;
//     border-radius: 0px 0px 4px 4px;
//     text-align: center;
//     padding: 0;

//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
//         0px 1px 1px rgba(0, 0, 0, 0.14),
//         0px 2px 1px rgba(0, 0, 0, 0.2);

//     flex-basis: calc((100% - 3 * 30px)/4);
// }

// .professional__description-block {
//     padding-top: 30px;
//     padding-bottom: 30px;
//     padding-left: 32px;
//     padding-right: 32px;
//     text-align: center;
// }

// .professional__description {
//     line-height: 1.8;
//     letter-spacing: 0.03em;
//     color: $paragraph-color;
//     margin-bottom: 16px;
// }

// .professional__title {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18;
//     letter-spacing: 0.03em;
//     color: $main-color;
//     margin-bottom: 10px;
// }

// .social-items {
//     display: flex;
//     justify-content: center;
//     list-style: none;
//     gap: 10px;
// }

// .social-link {
//     width: 44px;
//     height: 44px;
// }

// .social-link__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
//     border-radius: 50px;
//     transition: background-color $animation-duration $animation-timing-function;

//     &:hover,
//     &:focus {
//         background-color: $icons-hover-color;
//     }
// }

// .social-link__icon {
//     fill: $icons-main-color;
//     width: 20px;
//     height: 20px;
//     transition: fill $animation-duration $animation-timing-function;

//     .social-link__container:hover &,
//     .social-link__container:focus & {
//         fill: $icons-secondary-color;
//     }
// }