.address-items {
    margin-top: 20px;

    & :not(:last-child) {
        margin-bottom: 9px;
    }
}

.address {
    font-style: normal;
    text-align: center;

     @media screen and (min-width: 1200px) {
        text-align: left; 
        // margin-right: 70px;
    }
}

.address-logo-box
 {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
        
    }
    
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

.address-items__location {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $location-color;
}


.address-items__mail-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $footer-contacts;
    transition: color $animation-duration $animation-timing-function;

    .address-items__mail:hover &,
    &:focus{
            color: $accent-color;
    }
    
}


.address-items__tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $footer-contacts;
    transition: color $animation-duration $animation-timing-function;

    .address-items__tel:hover &,
    &:focus {
        color: $accent-color;
    }
}
