.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $hero-footer-background-color;
    max-width: 1600px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;

}
.container--footer {
    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 165px;
    }  

    @media screen and (min-width: 1200px) {
        width: 1200px;
        display: flex;
        align-items: baseline;
        flex-wrap: nowrap;
        gap: 0;
    }  
}



.logo__footer { 
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: $footer-logo-color;
    text-decoration: none; 
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .logo__footer {
        text-align: left;
    }
}

.logo__web {
    color: $accent-color;
}




// .logo__footer {
//     margin-bottom: 20px;
//     font-family: 'Raleway', sans-serif;
//     font-size: 26px;
//     color: $footer-logo-color;
//     text-decoration: none;
// }
// .container__footer {
//     display: flex;
//     align-items: baseline;
//     gap: 93px;
// }
