.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $hero-footer-background-color;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .footer {
        width: 768px;
    }
}

@media screen and (min-width: 1600px) {
    .footer {
        width: 1600px;
    }
}


    
@media screen and (min-width: 768px) {
    .container__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 165px;
    }  
}

@media screen and (min-width: 1600px) {
    .container__footer {
        display: flex;
        align-items: baseline;
        gap: 93px;
    }  
}

.logo__footer { 
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: $footer-logo-color;
    text-decoration: none; 
    text-align: center;
}

@media screen and (min-width: 1600px) {
    .logo__footer {
        text-align: left;
    }
}

.logo__web {
    color: $accent-color;
}




// .logo__footer {
//     margin-bottom: 20px;
//     font-family: 'Raleway', sans-serif;
//     font-size: 26px;
//     color: $footer-logo-color;
//     text-decoration: none;
// }
// .container__footer {
//     display: flex;
//     align-items: baseline;
//     gap: 93px;
// }
