.nav {
    @media screen and (max-width: 767px) {
            display: none;
        }

    @media screen and (min-width: 768px) {
        margin-left: 88px;
    }

    @media screen and (min-width: 1600px) {
        margin-left: 93px;
    }

    font-weight: 500;
    font-size: 14px;
}

.nav__items {
    display: flex;
    & :not(:last-child) {
            margin-right: 50px;
        }
}

.nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    text-decoration: none;
    color: $main-color;
    transition: color $animation-duration $animation-timing-function;
    
    &:hover,
    &:focus {
    color: $accent-color;
}
}

