.header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-bottom: 1px solid #ECECEC;
    // min-width: 480px;
    // max-width: 1600px;
}

.logo__header {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: $header-logo-color;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width: 768px){
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width: 1200px){
        padding-top: 24px;
        padding-bottom: 24px;
    }
        
}

.container--header {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100vw;

}



.nav__link.nav__link--current {
    color: $accent-color;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        display: block;
    }

    
}

.mobile-menu-open-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: inline-flex;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    @media screen and (min-width: 768px) {
        display: none;
        
    }
}

.mobile-menu-close-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: inline-flex;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 1;
    transform: translateY(0);
    transition: transform 250ms ease;
    overflow-y: scroll;
    z-index: 3;
    pointer-events: initial;
    
    

    @media screen and (min-width: 768px) {
        display: none;
    }
}


.is-hidden {
    pointer-events: none;
    opacity: 0;
    visibility: visible;
    transform: translateY(-100%);
}

.mobile-menu-nav__link {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: $main-color;

    &:hover {
        color: $accent-color;
    }
}

.mobile-menu-nav__items :not(:last-child) {
    margin-bottom: 36px;
}

.mobile-menu-contact__tel {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.mobile-menu-contact__item-tel {
    margin-bottom: 32px;
}



.mobile-menu-contact__mail {
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $paragraph-color;
}

.mobile-menu-social-links {
    display: flex;
    flex-wrap: wrap;
}

.mobile-menu-social-link {
    font-family: inherit;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
}

.mobile-menu-social-item:not(:last-child){
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(33, 33, 33, 0.2);
}

.mobile-menu-social-item:first-child {
    padding-right: 10px;
}

.mobile-menu-social-item:last-child {
    padding-left: 10px;
}

.mobile-menu-social-item:nth-child(2),
.mobile-menu-social-item:nth-child(3){
    padding-left: 10px;
    padding-right: 10px;
}

.current {
    color: $accent-color;
}