.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
            width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}






@media screen and (min-width: 1600px) {
    .portfolio {
        width: 1600px;
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

.portfolio-services {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-services__card {
    text-decoration: none;
    display: block;
    transition: box-shadow $animation-duration $animation-timing-function;

}
