.service-card {
    
    width: 100%;
    transition: box-shadow $animation-duration $animation-timing-function;

    .service-card__link:focus,
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 30px)/2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 2 * 30px)/3);
    }
}



.service-card__link {
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: box-shadow $animation-duration $animation-timing-function;
    
}




.service-card__container {
    position: relative;
    overflow: hidden;

}

.service-card__description-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateY(100%);
    transition: transform $animation-duration $animation-timing-function;
    overflow: hidden;

    .service-card__link:focus &,
    .service-card:hover & {
        transform: translateY(-100%);
    }
}

.service-card__description {
    font-family: 'Roboto';
    font-weight: 400;
    @media screen and (max-width: 479px) {
        font-size: calc(7px + 11 * (100vw / 479));
        line-height: 1.5;
    }
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.service-card__meta {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
}


.service-card:first-child .service-card__meta {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-grow: 1;
    }
}

.service-card__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $main-color;
}


.service-card__subtitle {
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $paragraph-color;
}

.service-card_image {
    width: 100%;
}

