$main-color: #212121;
$accent-color: #2196F3;
$hero-footer-background-color: #2F303A;
$paragraph-color: #757575;
$header-logo-color: #000000;
$footer-logo-color: #FFFFFF;
$location-color: #FFFFFF;
$hero-title-color: #FFFFFF;
$main-background-color: #FFFFFF;
$main-button-color: #FFFFFF;
$filter-button-color: #F5F4FA;
$team-color: #F5F4FA;
$team-card-background: #FFFFFF;
$footer-contacts: rgba(255, 255, 255, 0.6);
$border-color: #ECECEC;
$icons-main-color: #AFB1B8;
$icons-secondary-color: #FFFFFF;
$icons-hover-color: #2196F3;
$find-us-color: #FFFFFF;
$hero-gradient: rgba(47, 48, 58, 0.4);
$benefit-item-background: #F5F4FA;
$icon-background: rgba(255, 255, 255, 0.1);
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;